  <div class="container">

    <!-- Logo section -->
    <section class="text-center">
      <div class="logo-image">
        <img [src]="logoImage"/>
      </div>
    </section>


    <!-- login form section -->
    <section class="text-center">

      <!-- row class give possibility create 3 columns for classes col-sm -->
      <div class="row">


        <!-- left block - it is for center form block -->
        <div class="col-md"></div>



        <!-- login form container -->
        <div class="col-md login-form">

          <!-- Form to realize login request method -->
          <!-- ngForm is required register by app.module.ts -->
          <form #loginForm="ngForm" (ngSubmit)="login()">

              <!-- Username -->
              <div class="form-group pt-3">

                <input class="form-control"
                      type="text"
                      placeholder="Login"
                      [(ngModel)]="userModel.username"
                      name="login"
                      required>

              </div>

              <!-- Password -->
              <div class="form-group mt-5">

                <input class="form-control"
                      type="password"
                      placeholder="Hasło"
                      [(ngModel)]="userModel.password"
                      name="password"
                      required>
              </div>

              <!-- Login button is access if all inputs from loginForm directive
                    contain at least one sign (defaults) -->
              <div class="mt-4">

                <button [disabled]="!loginForm.valid"
                        type="submit"
                        class="btn btn-success">

                  Zaloguj sie

                </button>
              </div>

          </form>

        </div>

        <!-- right block -->
        <div class="col-md"></div>
      </div>


    </section>


    <!-- Redirect to register page section -->
    <section>
      <div class="register text-center">
        <p>Jeśli nie posiadasz konta <span><a [routerLink]="['/register']">zarejestruj się</a></span></p>
      </div>
    </section>


  </div>
