/* ========================== */
/*            LOGO            */
/* ========================== */

.logo-image{
  padding: 50px;
}


/* ========================== */
/*            LOGIN           */
/* ========================== */
.login-form {
  padding: 60px;

  transition: background-color .4s;
}

.login-form:hover {
  background: #333B54;
}

.login-form input {
  background-color: transparent;

  border: 0 solid #fff;
  border-bottom-width: 1px;

  font-size: 1.3rem;
  font-family: 'Segoe UI Light';

  color: white;

  margin: 10% 0 0 0;
}

.login-form button {
  background-color: #FFDE59;
  color: #5D5D5D;

  font-size: 1.3rem;
  width: 100%;

  cursor: pointer;

  margin: 10% 0 0 0;

}


/* ========================== */
/*           REGISTER         */
/* ========================== */
.register p {
  font-size: 1.2rem;
  color: #5D5D5D;
  padding: 10px;
}

.register a {
  color: #FFDE59;
  text-decoration: none;
}
