<!-- Login form container -->
<div class="cnt-center">

  <!-- Form to realize login request method -->
  <!-- ngForm is required register by app.module.ts -->
  <form #loginForm="ngForm" (ngSubmit)="login()">

    <!-- Username -->
    <input class="form-control"
           type="text"
           placeholder="Nazwa użytkownika"
           [(ngModel)]="model.username"
           name="login"
           required
    >

    <!-- Password -->
    <input class="form-control"
           type="password"
           placeholder="Hasło"
           [(ngModel)]="model.password"
           name="password"
           required
    >

    <!-- Login button is access if all inputs from loginForm directive
         contain at least one sign (defaults) -->
    <button [disabled]="!loginForm.valid"
            type="submit"
            class="btn btn-success login-button">

        Zaloguj

    </button>

  </form>

</div>
