/* Dropdown effects documentation: https://codinhood.com/micro/10-dropdown-menu-animations-css-transform */

.container-fluid{
  margin-top: 80px;
}

/* =================================================== */
/* ================= PRODUCT CATALOGS ================ */
/* =================================================== */
@keyframes growDown {

  0% {
    transform: scaleY(0)
  }
  80% {
    transform: scaleY(1.1)
  }
  100% {
    transform: scaleY(1)
  }

}


.category-list {
  padding-top: 10px;
  background-color: #333B54;
  cursor: pointer;
  width: 230px;
}

.category-list p {
  font-size: 2rem;
  color: #EDF1EF;
  opacity: 50%;
  border: 0;

}

.category-list ul {
  margin-top: 8px;
  margin-left: 15px;
  background: transparent;
  border: 0;
  width: 200px;
}

.dropdown-item {
  justify-content: center;
  text-align: center;
  cursor: pointer;
  font-size: 1.8rem;
  height: 33px;
  padding-top: 3px;
  border-radius: 7px;
  background-color: #333B54;
  color: #EDF1EF;

  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;

  transition: background-color .3s;
}

.dropdown-item:hover {
  background-color: #6C707E;
}

/* =================================================== */
/* ===================== FILTER ====================== */
/* =================================================== */

.search input {
  background-color: #333B54;
  border-radius: 10px;
  color: #EDF1EF;
}

.search input, .search button {
  font-size: 2rem;
}

.search button {
  background-color: var(--yellow);
  border-radius: var(--border-radius);
}


/* =================================================== */
/* =================== LOGO ========================== */
/* =================================================== */

.basket-logo {
  cursor: pointer;
  transform: scale(1.0, 1.0);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

.basket-logo:hover {
  transform: scale(1.2, 1.2);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  opacity: 0.7;
}


.basket-logo i {
  font-size: 5em;
  color: white;
}

.basket-logo i:hover {
  color: var(--yellow);
}

.basket-logo span {
  font-size: medium;
  position: absolute;
  border-radius: 15px;
}

/* =================================================== */
/* =================== PRODUCT LIST ================== */
/* =================================================== */

.header {
  font-size: 2.2rem;
}

.header li {
  background-color: transparent;
}

.product-list .content {
  min-height: 400px;
}

.content {
  font-size: 2rem;
  border-radius: var(--border-radius);
}

.content li {
  text-align: left;
}

.content ul {
  background-color: var(--div-color);
  border-radius: var(--border-radius);
}

.product-list li, .transaction-list li {
  padding: .1em 1em;
  margin: .1em 0;
}

.product-list .list-group-item, .transaction-list .list-group-item {
  background: transparent;
  color: var(--text-light);
  border: 0;
  max-height: 220px;
}

.edit-product {
  text-align: center;
  background-color: var(--div-color-dark);
  color: var(--yellow);
  font-size: 1.2rem;
  padding: 0 12px;
  height: 30px;
}

.transaction-list .content {
  max-height: 300px;
  overflow-y: scroll hidden;
  overflow-x: hidden;
  width: 92%;
}

/* =================================================== */
/* ==================== NAVIGATION =================== */
/* =================================================== */

.page-link {
  padding: .5em 1em;
  font-size: 1.2rem;
  background-color: transparent;
  color: var(--text-light);

  transition: color .3s, background-color .3s;
}

.page-link:hover {
  color: #DDD;
  background-color: rgba(255, 255, 255, .08);
}

.product-list nav li {
  padding: 0;
  margin: 0;
}


/* =================================================== */
/* ====================== SUMMARY ==================== */
/* =================================================== */

.summary div{
  font-size: 1.8rem;
  background-color: var(--div-color);
  border-radius: var(--border-radius);
  color: var(--text-light);
}

.summary button {
  background-color: var(--yellow);
  color: var(--div-color);
  font-size: 1.4rem;
  font-weight: 600;
}

/* =================================================== */
/* ==================== PAGINATION =================== */
/* =================================================== */

ngb-pagination ::ng-deep a {
  background-color: var(--div-color) !important;
  border: 0;
  color: var(--text-light);
}

ngb-pagination ::ng-deep .page-item.active .page-link {
  color: var(--yellow);
}