<app-navigation></app-navigation>

<div class="container-fluid">

  <div class="row">

    <!-- Category filter & search -->
    <section class="col-10 d-flex justify-content-between">

      <!-- dropdown list category -->
      <div class="category-list text-center" *ngIf="!basketMode">

        <div data-toggle="dropdown">
          <!-- <p> - Wybierz katalog - </p>-->
          <p *ngIf="selectedCatalog != ''; else text">{{selectedCatalog}}</p>
          <ng-template #text>
            <p>Wybierz katalog</p>
          </ng-template>
        </div>

        <ul class="dropdown-menu">
          <li class="dropdown-item" (click)="filterProductByCatalogName(-1)">Wszystkie</li>

          <li class="dropdown-item" *ngFor="let catalog of catalogs; index as poz">
            <a (click)="filterProductByCatalogName(poz)">
              <p class="w-100">{{catalog.catalogName}}</p>
            </a>
          </li>

        </ul>

      </div>

      <!-- Search product button -->
      <div class="form-inline search" *ngIf="!basketMode">

        <input class="h-100 py-3 pl-4 border-0" type="text" placeholder="nazwa / sprzedawca">
        <button class="btn ml-2 py-3 px-5">Szukaj</button>

      </div>

    </section>


    <section class="col-1"></section>

    <section class="col-1">
      <div class="basket-logo">

        <!-- if you dont add any item, you can't open basket -->
        <i class="fa fa-shopping-basket" (click)="transactionsToSave.length > 0 ? basketToggle() : false"
        [ngStyle]="{'color': basketMode ? 'var(--yellow)' : 'white'}"></i>
        <span class="badge badge-light" *ngIf="transactionsToSave.length > 0">{{transactionsToSave.length}}</span>
      </div>
    </section>


  </div>

  <div class="row">

    <!-- List of products -->
    <section class="col-12 ml-4 product-list d-flex flex-column align-items-center"
    *ngIf="!basketMode" >

      <!-- Header list -->
      <ul class="list-group flex-row text-center mt-5 header">
        <li class="list-group-item" style="width: 100px"></li>
        <li class="list-group-item" style="width: 350px">Nazwa</li>
        <li class="list-group-item" style="width: 180px">Sprzedawca</li>
        <li class="list-group-item" style="width: 120px">Cena</li>
        <li class="list-group-item" style="width: 100px">Jednostka</li>
        <li class="list-group-item" style="width: 200px">Kategoria</li>
      </ul>

      <!-- Content list -->
      <div class="content">

        <ul class="list-group flex-row text-center mt-2"
          *ngFor="let product of products| slice: (page-1) * pageSize : page * pageSize; index as poz">

          <!-- Add product to transaction button -->
          <li class="list-group-item d-flex pr-2" style="width: 100px">
            <button class="btn edit-product" (click)="onAddProductToLocalList(poz + (page-1) * pageSize)">
              Dodaj
            </button>
          </li>

          <li class="list-group-item" style="width: 350px">{{product.productName}}</li>
          <li class="list-group-item pl-5" style="width: 180px">{{product.seller}}</li>
          <li class="list-group-item pl-5" style="width: 120px">{{product.price}} zł</li>
          <li class="list-group-item" style="width: 100px">{{product.unit}}</li>
          <li class="list-group-item pl-5 text-right" style="width: 150px">{{product.catalogName}}</li>

        </ul>

      </div>

      <div class="transaction-pagination" *ngIf="products?.length > 8">

        <ngb-pagination [collectionSize]="products?.length" [(page)]="page" [pageSize]="pageSize"
          aria-label="Default pagination" size="lg"></ngb-pagination>
      </div>

    </section>

    <section *ngIf="basketMode">
      <app-transactions-basket [(transactionToBasket)]="transactionsToSave"
      (mode)="cancelBasketMode($event)"
      ></app-transactions-basket>
    </section>

  </div>


</div>
