/* ========================== */
/*            REGISTER           */
/* ========================== */
.logo-image{
  padding: 50px;
}

.register-form {
  padding: 0 10%;
  transition: background-color .4s;
}

.register-form:hover {
  background: #333B54;
}

.register-form p {
  color: #EDF1EF;
  font-size: 1.2rem;
}

.register-form input {
  background-color: transparent;

  border: 0 solid #fff;
  border-bottom-width: 1px;

  text-align: left;
  justify-content: center;

  font-size: 1rem;
  font-family: 'Segoe UI Light';

  color: white;
}

.register-form button {
  background-color: #FFDE59;
  color: #5D5D5D;
  margin-bottom: 5%;
  font-size: 1.3rem;
  width: 100%;

  cursor: pointer;
}


.login-form a {
  color: #5D5D5D;
  text-decoration: none;
  font-size: 1.2rem;
  text-align: center;
}
