<div class="col-12">

  <!-- Logo section -->
  <section class="text-center">
    <div class="logo-image">
      <img [src]="logoImage"/>
    </div>
  </section>


  <!-- register form section -->
  <section class="text-center">

    <!-- register form container -->
    <div class="col-3 register-form">

      <!-- Form to realize register request method -->
      <form (ngSubmit)="register()">

        <!-- First name -->
        <div class="form-group pt-3">

          <p class="text-left">Podaj imię:</p>
          <input class="form-control"
                 type="text"
                 maxlength="30"
                 placeholder="Imię"
                 required
                 name="FirstName"
                 [(ngModel)]="registerModel.FirstName">

        </div>

        <!-- Last name -->
        <div class="form-group pt-3">

          <p class="text-light text-left">Podaj nazwisko:</p>
          <input class="form-control"
                 type="text"
                 maxlength="30"
                 placeholder="Nazwisko"
                 required
                 name="LastName"
                 [(ngModel)]="registerModel.LastName">

        </div>

        <!-- Email -->
        <div class="form-group pt-3">

          <p class="text-light text-left">Podaj email:</p>
          <input class="form-control"
                 type="text"
                 maxlength="50"
                 placeholder="Email"
                 required
                 name="Email"
                 [(ngModel)]="registerModel.Email">

        </div>

        <!-- Login -->
        <div class="form-group pt-3">

          <p class="text-light text-left">Podaj login:</p>
          <input class="form-control"
                 type="text"
                 maxlength="30"
                 placeholder="Login"
                 required
                 name="UserName"
                 [(ngModel)]="registerModel.UserName"
          >

        </div>

        <!-- Password -->
        <div class="form-group pt-3">

          <p class="text-light text-left">Podaj hasło:</p>
          <input class="form-control"
                 type="password"
                 maxlength="100"
                 placeholder="Hasło"
                 required
                 name="Password"
                 [(ngModel)]="registerModel.Password">

        </div>

        <!-- Repeat password -->
        <div class="form-group pt-3">

          <p class="text-light text-left">Powtórz hasło:</p>
          <input class="form-control"
                 type="password"
                 maxlength="100"
                 placeholder="Powtórz hasło"
                 required
                 name="RepeatPassword"
                 [(ngModel)]="registerModel.RepeatPassword">

        </div>

        <!-- Register button -->
        <div class="mt-5 pt-3">

          <button type="submit"
                  class="btn btn-success">

            Zarejestruj się

          </button>

        </div>

      </form>

    </div>

  </section>


  <!-- Redirect to register page section -->
  <section>
    <div class="container login-form text-center text-center">
      <a [routerLink]="['/login']">Wróć</a>
    </div>
  </section>

</div>
