/* ============================= */
/* Date and currency */
/* ============================= */
.date-and-currency, .main-stats {
  font-size: 3rem;
  margin-left: 280px;
}

/* ============================= */
/*Main stats*/
/* ============================= */
.main-stats {
  display: flex;
  justify-content: space-between;
}

.square {
  background-color: #333B54;
  color: #6C707E;

  justify-content: space-around;

  width: 265px;
  height: 185px;
}

.square .info {
  flex-direction: row;
  justify-content: center;
  align-items: center;

  color: #EDF1EF
}

.square .info h3 {
  color: #EDF1EF;
  font-size: 3.5rem;
  font-family: 'Segoe UI', 'sans-serif';

  padding-left: 15px;
}

.transaction-table {
  margin-left: 310px;
  width: 800
}

.transaction-table th {
  color: #EDF1EF;
  background-color: #38425B;
  font-size: 2.5rem;
  border: 0;
}

.transaction-table tr {
  color: #EDF1EF;
  font-size: 2rem;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(31, 32, 55, 1);
  border: 0;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: rgba(51, 59, 84, 1);
  border: 0;
}
