/* ============================= */
/*       Date and currency       */
/* ============================= */
.date-and-currency, .main-stats {
  font-size: 3rem;
  margin-left: 280px;
}

.date-and-currency-p{
  cursor: pointer;
  text-transform: capitalize;
}

.date-and-currency-blocks {
  display: inline-block;
  margin-right: 10px;
}

.dropdown-menu {
  text-align: center;
}


/* ============================= */
/*          Main stats           */
/* ============================= */
.main-stats {
  display: flex;
  justify-content: space-between;
}

.square {
  background-color: #333B54;
  color: #6C707E;

  justify-content: space-around;

  width: 265px;
  height: 185px;
}

.square .info {
  flex-direction: row;
  justify-content: center;
  align-items: center;

  color: #EDF1EF
}

.square .info h3 {
  color: #EDF1EF;
  font-size: 3.5rem;
  font-family: 'Segoe UI', 'sans-serif';

  padding-left: 15px;
}

/* ============================= */
/*        LAST TRANSACTIONS      */
/* ============================= */
.transaction-table {
  margin-left: 310px;
  width: 963px;
  margin-top: 110px;
}

.transaction-table th {
  color: #EDF1EF;
  background-color: #38425B;
  font-size: 2.2rem;
}

.transaction-table td {
  color: #EDF1EF;
  font-size: 2rem;
  border: 0
}

.transaction-table h1 {
  margin-bottom: 20px;
  font-size: 3rem;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(31, 32, 55, 1);
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: rgba(51, 59, 84, 1);
}
