<app-navigation></app-navigation>
<main>

  <div class="row">
    <div class="col-10 text-light">

      <!-- main stat of the month -->
      <section class=" px-5 main-stats">

        <div class="square text-center p-5">

          <h1>Zaoszczędzono</h1>

          <div class="pt-5 pl-4 d-flex info">
            <img [src]="greenTriangleImage" alt="Zaoszczędzono"/>
            <h3>1132 zł</h3>
          </div>

        </div>

        <div class="square text-center p-5">

          <h1>Ilość transakcji</h1>

          <div class="pt-5 pl-4 d-flex info">
            <img [src]="greenTriangleImage" alt="Ilość transakcji"/>
            <h3>74</h3>
          </div>

        </div>

        <div class="square text-center p-5">

          <h1>Wydano łącznie</h1>

          <div class="pt-5 pl-4 d-flex info">
            <img [src]="redTriangleImage" alt="Wydano łącznie"/>
            <h3>3132 zł</h3>
          </div>

        </div>

      </section>

      <!-- table with 5 last transactions -->
      <section class="pt-5 transaction-table ">

        <h1>Ostatnie 5 transakcji</h1>

        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Sprzedawca</th>
            <th scope="col">Cena</th>
            <th scope="col">Ilość</th>
            <th scope="col">Data</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let transaction of transactions; index as poz">
            <td>{{poz+1}}.</td>
            <td>{{transaction.productNameFrom.split(" - ")[0]}}</td>
            <td>{{transaction.productNameFrom.split(" - ")[1]}}</td>
            <td>{{transaction.paid}} zł</td>
            <td>{{transaction.quantity}}</td>
            <td>{{transaction.transactionDate | date: 'yyyy-MM-dd'}}</td>
          </tr>
          </tbody>
        </table>
      </section>

    </div>
  </div>
</main>
