<app-navigation></app-navigation>

<div class="row container-fluid">

  <app-product class="col-2"></app-product>


  <section class="row col-6">

    <!-- empty column to make a space -->
    <div class="col-2"></div>

    <div class="col">

        <!-- Title and search button -->
      <div class="mb-5 product-add-title">
        <h1>Dodaj produkt</h1>
        <select name="addProductCategory" id="addProductCategory">
          <option selected disabled>wybierz kategorie</option>
          <option *ngFor="let category of AvailableCategory" value="{{category}}">{{category}}</option>
        </select>
      </div>

      <!-- params to adding new product -->
      <form>
        <div class="form-group product-add-input-div">
          <input type="text" class="form-control" id="addProductName" placeholder="Nazwa">
        </div>
        <div class="form-group product-add-input-div">
          <input type="text" class="form-control" id="addSellerName" placeholder="Sprzedawca">
        </div>
        <div class="form-group w-25 product-add-input-div">
          <input type="number" class="form-control" id="addSellerName" placeholder="Cena">
        </div>

        <div class="add-product-amount">
          <div class="form-group w-25 product-add-input-div">
            <input type="number" class="form-control" id="addSellerName" placeholder="Ilosc">
          </div>
            <select name="unity" id="addUnityName">
              <option selected disabled>Jednostka</option>
              <option *ngFor="let unity of UnitsValue" value="{{unity}}">{{unity}}</option>
            </select>
        </div>

        <div class="form-group">
          <button class="btn w-25 product-add-button-add">Dodaj</button>
        </div>
      </form>



    </div>
  </section>

</div>
