.container-fluid{
  margin-top: 80px;
}

#zmien {
  color: white;
}

h1 {
  color: var(--text-light);
}

.product-add-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-add-input-div,
.add-product-already-element {
  background-color: var(--div-color);
  border-radius: var(--border-radius);
  color: var(--text-grey);
}

input, select {
  background-color: transparent;
  border: 0;
  font-size: 2rem;
  color: var(--text-light);
}

.add-product-unity,
.add-product-already-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-add-button-add {
  background-color: var(--yellow);
  border-radius: 5px;
  font-size: 2rem;
}

.add-product-already-element {
  padding: 5px;
  border-radius: var(--border-radius);
  font-size: 2rem;
  list-style: none;
}

.add-product-already-element {
  justify-content: space-around;
  align-items: flex-end;
  padding: 10px;
}

.add-product-already-element p{
  margin-bottom: 0;
  color: var(--text-light);
}

a.add-product-delete {
  color: var(--yellow);
  border: 0;
  cursor: pointer;
}

.catalog-list {
  max-height: 300px;
  overflow-y: scroll hidden;
  overflow-x: hidden;
}


/*style to delete arrows in
type=numbers and arrow in select */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* display dropdown list without arrow down */
select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

/* For IE10 */
select::-ms-expand {
  display: none;
}

::-webkit-scrollbar {
  background-color: #282D45;
  width: 13px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--yellow);
  border: 3px solid transparent;
  border-radius: 7px;
  background-clip: content-box;
}