<app-navigation></app-navigation>

<div class="row container-fluid">

  <app-product class="col-2"></app-product>


  <section class="row col-6">

    <!-- empty column to make a space -->
    <div class="col-2"></div>

    <div class="col">

        <!-- Title and search button -->
      <div class="mb-5 product-add-title">
        <h1>Dodaj produkt</h1>
        <select name="addProductCategory" id="addProductCategory">
          <option selected disabled>wybierz kategorie</option>
          <option *ngFor="let category of productCategory" value="{{category.catalogName}}">{{category.catalogName}}</option>
        </select>

        <!-- <select class="addProductCategory" (change)="changeUnits($event)" [(ngModel)]="product.catalog">
          <option value="" disabled>Kategoria</option>
          <option *ngFor="let unit of UnitsValue" [ngValue]="unit">{{unit}}</option>
       </select> -->

      </div>

      <!-- params to adding new product -->
        <div class="form-group product-add-input-div">
          <input type="text" class="form-control" id="addProductName" placeholder="Nazwa" name="productName" [(ngModel)]="product.productName">
        </div>
        <div class="form-group product-add-input-div">
          <input type="text" class="form-control" id="addSellerName" placeholder="Sprzedawca" name="seller" [(ngModel)]="product.seller">
        </div>

        <div class="add-product-unity">
          <div class="form-group w-25 product-add-input-div">
            <input type="number" class="form-control" id="addPriceName" placeholder="Cena" name="price" [(ngModel)]="product.price">
          </div>
            <select name="unit" id="addUnityName">
              <option selected disabled>Jednostka</option>
              <option *ngFor="let unity of UnitsValue" value="{{unity}}">{{unity}}</option>
            </select>
        </div>

        <div class="form-group">
          <button class="btn w-25 product-add-button-add" (click)="addProduct()">Dodaj</button>
        </div>

      <div class="mb-5 mt-5 product-add-title-done">
        <h1>Dodane</h1>
      </div>


      <div class="catalog-list">
        <ul class="list-group mt-5">
          <li class="add-product-already-element flex-row d-flex mt-1" *ngFor="let product of productToAdd;
          index as indexInArray;">
            <p>{{product.productName}}</p>
            <p>{{product.catalogName}}</p>
            <p>{{product.price}}</p>
            <a class="add-product-delete" (click)="kickProduct(indexInArray)"> X</a>
          </li>
        </ul>
      </div>

      <div class="form-group text-right mt-5" *ngIf="this.productToAdd.length">
        <button class="btn w-25 product-add-button-add"
        (click)="saveProducts()">Zatwierdź</button>
      </div>

    </div>
  </section>
</div>
