@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/simplebar/dist/simplebar.css';
@import '../node_modules/simplebar';

:root {
  --border-radius: 5px;
  --yellow: #FFDE59;
  --text-light: #EDF1EF;
  --text-grey: #868993;
  --div-color: #333B54;
  --div-color-dark: #282D45;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content:center;
  align-items: center;
  height: 100vh;
  background: #1F2037;
  font-family: 'Segoe UI', 'sans-serif';
}

.panel {
  width: 1600px;
}
