.container-fluid{
  margin-top: 80px;
}

h1 {
  color: var(--text-light);
}

.header {
  width: 1120px;
  font-size: 2.2rem;
}

.search input {
  font-size: 1.8rem;
}

.search input {
  padding: 4px;
}

.search button{
  font-size: 1.7rem;
  margin-left: 1px;
  background-color: var(--yellow);
}

.content {
  font-size: 2rem;
  width: 1170px;
  background-color: var(--div-color);
  border-radius: var(--border-radius);
}

.content li {
  text-align: left;
}

.product-list li {
  padding: .1em 1em;
  margin: .1em 0;
}

.product-list .list-group-item {
  background: transparent;
  color: var(--text-light);
  border: 0;
}

.edit-product {
  text-align: center;
  background-color: var(--div-color-dark);
  color: var(--yellow);
  font-size: 1.2rem;
  padding: 7px;
  width: 40px;
  height: 30px;
}
