<app-navigation></app-navigation>

<div class="row container-fluid">

  <!-- Menu navigation for product subpage -->
  <app-product class="col-2"></app-product>

  <!-- List of products -->
  <section class="col-9 product-list">

    <div class="text-light d-flex justify-content-between">
      <h1>Lista produktów</h1>
      <div class="flex-row form-inline search">
        <input type="text" placeholder="Nazwa...">
        <button class="btn text-light">Szukaj</button>
      </div>
    </div>

    <!-- Header list -->
    <ul class="list-group flex-row text-center mt-5 header">
      <li class="list-group-item" style="width: 60px">#</li>
      <li class="list-group-item" style="width: 350px">Nazwa</li>
      <li class="list-group-item" style="width: 180px">Sprzedawca</li>
      <li class="list-group-item" style="width: 120px">Cena</li>
      <li class="list-group-item" style="width: 100px">Jednostka</li>
      <li class="list-group-item" style="width: 200px">Kategoria</li>
    </ul>


    <!-- Content list -->
    <ul class="list-group flex-row text-center content mt-2" *ngFor="let product of products; index as poz">

      <li class="list-group-item" style="width: 60px">{{poz+1}}.</li>

      <li class="list-group-item" style="width: 350px">{{product.productName}}</li>
      <li class="list-group-item ml-5" style="width: 170px">{{product.seller}}</li>
      <li class="list-group-item ml-4" style="width: 120px">{{product.price}} <span class="pl-2">zł</span></li>
      <li class="list-group-item" style="width: 100px">{{product.unit}}</li>
      <li class="list-group-item ml-5" style="width: 200px">{{product.catalog}}</li>

      <!-- Edit button -->
      <li class="list-group-item d-flex pr-2" style="width: 70px">
        <button class="btn edit-product">
          E
        </button>
      </li>

      <!-- Cancel button -->
      <li class="list-group-item d-flex pl-1" style="width: 70px">
        <button class="btn edit-product">
          X
        </button>
      </li>
    </ul>

  </section>

</div>
