<nav class="navbar navbar-expand navbar-default navbar-fixed-top py-2">

  <div class="container-fluid">


    <!-- mini logo image -->
    <a class="navbar-brand" [routerLink]="['/']">
      <img [src]="logoImage">
    </a>


    <!-- redirect links to subpages -->
    <div class="collapse navbar-collapse">

      <div class="navbar-nav">
        <a class="nav-item nav-link mx-4"
           [routerLink]="['/']"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"
        >Główna</a>

        <a class="nav-item nav-link mx-4" [routerLink]="['/products']" routerLinkActive="active">Produkty</a>
        <a class="nav-item nav-link mx-4" [routerLink]="['/statistics']" routerLinkActive="active">Statystyki</a>
        <a class="nav-item nav-link mx-4" [routerLink]="['/transactions']" routerLinkActive="active">Transakcje</a>
      </div>
    </div>


    <!-- profil contener -->
    <div class="d-flex">

      <!-- image -->
      <div class="circle mx-4">

      </div>

      <!-- First and last name -->
      <div class="align-items-center mx-2 text-center">
        <p>Imie Nazwisko</p>
      </div>

      <!-- dropdown item -->
      <div class="dropdown">

        <button class="bg-transparent border-0 mx-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-ellipsis-h"></i>
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" [routerLink]="['/']">Konto</a>
          <a class="dropdown-item" [routerLink]="['/']">Wyloguj</a>
        </div>

      </div>

    </div>


  </div>
</nav>
