/* ============================= */
/*                            Date and currency                      */
/* ============================= */
 .date-and-currency {
  margin-left: 300px;
}

.date-and-currency-p, .date-and-currency .dropdown-item{
  cursor: pointer;
  text-transform: capitalize;
  text-align: left;
}

.date-and-currency ul {
  border: 0;
  background: linear-gradient(90deg, var(--div-color) 50%, transparent 50%);
}

.date-and-currency ul .dropdown-item:hover {
  background: linear-gradient(90deg, #4B5062 50%, transparent 50%);
}

.date-and-currency .month-list {
  background: linear-gradient(90deg, var(--div-color) 85%, transparent 15%);
}

.date-and-currency .month-list  .dropdown-item:hover {
  background: linear-gradient(90deg, #4B5062 85%, transparent 15%);
}

.date-and-currency-blocks {
  display: inline-block;
  margin-right: 20px;
}

/* ============================= */
/*                                 Navigation                             */
/* ============================= */
nav {
  font-size: 2.2rem;
  background-color: #4B5062;
}

.navbar-nav a, .nav-item button {
  color: #6C707E;
  text-decoration: #FFFFFF;
  transition: color .2s;
}

.navbar-nav a.active {
  color: #fff;
}

.navbar-nav a:hover, .navbar-nav button:hover {
  color: white;
}

.navbar p {
  font-size: 2rem;
  color: var(--text-light);
  padding-top: 17px;
}

.navbar .date-and-currency p {
  padding-top: 0;
}

.navbar i {
  font-size: 2rem;
  color: var(--yellow);
  padding-top: 27px;
}

.circle {
  border-radius: 70px;
  background-color: #fff;
  height: 66px;
  width: 66px;
}

.dropdown {
  height: 30px;
}

.dropdown-menu {
  background-color: var(--div-color);
  /*text-align: center;*/
}

.dropdown-transaction {
  margin-top: 10px;
  width: 130px;
}

.dropdown-menu a {
  transition: color .4s;
}

.dropdown-menu a:hover {
  color: #fff;
}

.dropdown-item {
  padding: 5px 7px;
  color: #fff;
  font-size: 1.4rem;
  transition: background-color .4s;
}

.dropdown-item:hover {
  background-color: #4B5062;
}
