<nav class="navbar navbar-expand navbar-default navbar-fixed-top py-2">

  <div class="container-fluid">


    <!-- mini logo image -->
    <a class="navbar-brand" [routerLink]="['/']">
      <img [src]="logoImage">
    </a>


    <!-- redirect links to subpages -->
    <div class="collapse navbar-collapse">

      <!-- navbar container -->
      <div class="navbar-nav">

        <!-- main page -->
        <a class="nav-item nav-link mx-4"
           [routerLink]="['/']"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"
        >Główna</a>

        <!-- products page -->
        <a class="nav-item nav-link mx-4" [routerLink]="['/products/overview']" [ngStyle]="{color: getProductColor()}">Produkty</a>

        <!-- statistics page -->
        <a class="nav-item nav-link mx-4" [routerLink]="['/statistics']" routerLinkActive="active">Statystyki</a>

        <!-- Dropdown transactions with two subpages -->
        <div class="nav-item nav-link dropdown mx-4">

          <button class="bg-transparent border-0"
                  [ngStyle]="{color: getTransactionColor()}"
                  type="button"
                  id="dropdownTransactionsButton"
                  data-toggle="dropdown"
                  aria-expanded="false">
            Transakcje
          </button>

          <div class="dropdown-menu dropdown-transaction" aria-labelledby="dropdownTransactionsButton">
            <a class="dropdown-item" [routerLink]="['/transactions/new']">Dodaj nowe</a>
            <a class="dropdown-item" [routerLink]="['/transactions/overview']">Przeglądaj</a>
          </div>

        </div>

        <!-- Dropdown date and currency -->
        <div class="nav-item nav-link mx-4">

          <div class="date-and-currency">

            <!-- MONTHS -->
            <div class="date-and-currency-blocks dropdown">
              <p class="date-and-currency-p" data-toggle="dropdown">
                {{months[0]}}
              </p>
              <ul class="dropdown-menu month-list" aria-labelledby="monthsList">
                <li class="dropdown-item " *ngFor="let item of getMonths(); index as month">{{item}}</li>
              </ul>
            </div>

            <!-- YEARS -->
            <div class="date-and-currency-blocks dropdown">
              <p class="date-and-currency-p" data-toggle="dropdown">
                {{years[0]}}
              </p>
              <ul class="dropdown-menu" aria-labelledby="yearsList">
                <li class="dropdown-item" *ngFor="let item of years">{{item}}</li>
              </ul>
            </div>

            <!-- CURRENCY -->
            <div class="date-and-currency-blocks dropdown">
              <p class="date-and-currency-p" data-toggle="dropdown">
                {{currency[0]}}
              </p>
              <ul class="dropdown-menu"  aria-labelledby="dropdownMenuButton1">
                <li class="dropdown-item" *ngFor="let item of currency">{{item}}</li>
              </ul>
            </div>

          </div>

        </div>

      </div>
    </div>


    <!-- profil contener -->
    <div class="d-flex">

      <!-- image -->
      <div class="circle mx-4">

      </div>

      <!-- First and last name -->
      <div class="align-items-center mx-2 text-center">
        <p>Imie Nazwisko</p>
      </div>

      <!-- dropdown item -->
      <div class="dropdown">

        <button class="bg-transparent border-0 mx-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-ellipsis-h"></i>
        </button>

        <div class="dropdown-menu mt-4" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" [routerLink]="['/']">Konto</a>
          <a class="btn dropdown-item" (click)="authService.logout()">Wyloguj</a>
        </div>

      </div>

    </div>


  </div>
</nav>
