.container-fluid{
  margin-top: 80px;
}

h1, h2 {
  color: var(--text-light);
}

.add-catalog {
  color: var(--text-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-catalog input {
  background-color: var(--div-color);
  color: var(--text-grey);
  border: 0;
  font-size: 2rem;
  border-radius: var(--border-radius);
  padding: 7px 0;
  width: 85%;
}

.add-catalog input:active {
  border: 1px white;
}

.add-catalog button {
  width: 14%;
  padding: 7px 0;
  color: var(--div-color);
  background-color: var(--yellow);
  font-size: 1.5rem;
  text-align: center;
}

.catalog-list {
  max-height: 300px;
  overflow-y: scroll hidden;
  overflow-x: hidden;
}

.content {
  font-size: 2rem;
  background-color: var(--div-color);
  border-radius: var(--border-radius);
}

.content li {
  text-align: left;
}

.list-group-item {
  background: transparent;
  color: var(--text-light);
  border: 0;
  width: 90%;
}

.edit-catalog {
  text-align: center;
  background-color: #282D45;
  color: var(--yellow);
  font-size: 1.2rem;
  padding: 7px;
  width: 40px;
  height: 30px;
}


::-webkit-scrollbar {
  background-color: #282D45;
  width: 13px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--yellow);
  border: 3px solid transparent;
  border-radius: 7px;
  background-clip: content-box;
}
