.container-fluid{
  margin-top: 80px;
}

h1 {
  color: var(--text-light);
}

.catalog-list {
  max-height: 300px;
  width: 500px;
  overflow-y: scroll hidden;
  overflow-x: hidden;
}

.content {
  font-size: 2rem;
  width: 470px;
  background-color: var(--div-color);
  border-radius: var(--border-radius);
}

.content li {
  text-align: left;
}

.list-group-item {
  background: transparent;
  color: var(--text-light);
  border: 0;
  width: 350px;
}

.edit-catalog {
  text-align: center;
  background-color: #282D45;
  color: var(--yellow);
  font-size: 1.2rem;
  padding: 7px;
  width: 40px;
  height: 30px;
}

.add-catalog {
  color: var(--text-light);
  padding-top: 50px;
}

.add-catalog input {
  width: 95%;
  background-color: var(--div-color);
  color: var(--text-grey);
  border: 0;
  font-size: 1.2rem;
  padding: 7px 9px;
  border-radius: var(--border-radius);
  margin: 8px 0;
}

.add-catalog button {
  width: 12%;
  padding: 3px;
  color: var(--div-color);
  background-color: var(--yellow);
  font-size: 1.3rem;
  text-align: center;
  margin-left: 83%;
}

::-webkit-scrollbar {
  background-color: #282D45;
  width: 13px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--yellow);
  border: 3px solid transparent;
  border-radius: 7px;
  background-clip: content-box;
}
