.container-fluid{
     margin-top: 80px;
}

.container-fluid {
     color:white;
}



/* left panel using to sorting product items */
.category-list {
     background-color: var(--div-color);
     cursor: pointer;
     width: 200px;
}

.category-list p {
     font-size: 2rem;
     color: var(--text-light);
}

.dropdown-menu {
     background-color: transparent;
}

li.dropdown-item {
     color:  var(--text-light);
     text-align: center;
     cursor: pointer;
     font-size: 1.8rem;
     background-color: var(--div-color);
     width: 200px;
}

.dropdown-item:hover {
     background-color: #6C707E;
}


/* transactions made, central stack */
.transaction-overwiew-search{
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
}

.search input, .search button{
     font-size: 1.5rem;
     padding: 5px;
     border-radius: var(--border-radius);
}

.search input {
     background-color: var(--text-light);
}

.search button {
     background-color: var(--yellow);
     margin-left: 2px;
}

.transactions-all-results ul{
     list-style: none;
}

.transaction-result {
     background-color: var(--div-color);
     border-radius: var(--border-radius);
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: baseline;
}

button.edit-product {
     text-align: center;
     background-color: var(--div-color-dark);
     color: var(--yellow);
     font-size: 1.2rem;
     padding: 0 12px;
     height: 30px;
}

.transaction-result p {
     font-size: 1.4rem;
}


/* pagination bottom side */
.transaction-overwiew-pagination li a{
     background-color: var(--div-color);
     color: var(--text-light);
     border: 0;
     font-size: 1.4rem;
}